body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: 'Droid sans fallback';
  /*
  , 'Source Han Sans CN', tahoma, arial, 'Hiragino Sans GB',
    '\5b8b\4f53', sans-serif, Avenir, Helvetica
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  font-size: 14px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}



.van-overlay {
  z-index: 2 !important;
}

.pswp__top-bar {
  margin-top: 2.071429rem;
}

#textarea {
  textarea {
    min-height: 2.214286rem !important;
    max-height: 14.285714rem;
    font-size: 1rem;
  }
}

.el-autocomplete-suggestion__wrap {
  max-height: 35.714286rem !important;
}


em,
i {
  font-style: normal;
}

.el-tabs__header {
  margin: 0 !important;
  padding: 0 0.714286rem !important;
}

.el-input--small .el-input__inner {
  background-color: #f2f2f2;
}

#manboard,
#borderCard {

  .van-tabs__line {
    display: none;
  }

  .van-tabs--line .van-tabs__wrap {
    height: 4.571429rem !important;
  }


  .van-tab--active {
    color: #323233 !important;
  }

  .van-tab {
    color: #d6d7d6;



    &:first-child {
      .van-tab__text {
        width: 100%;
        text-align: center;
        border-right: 1px solid #e8e8e8;
      }
    }
  }


}





#SelectProducts,
#Ship,
#editShipItem,
#createContract,
#Newtask,
#newAccount,
#addDetails,
#addMaterial,
#Inventory,
#MaterialReturn,
#ContractDetails,
#clientedit,
#OEM {

  .van-cell:not(:last-child)::after {
    border: none;
  }

  .van-stepper__input {
    width: 100%;
    max-width: 6.428571rem;
  }

  input,
  textarea {
    text-align: right;
  }

  #select {
    padding: 0;

    input {
      text-align: center;
    }
  }




  .newStyle {


    .van-cell__title {
      width: 4.928571rem;
      text-align: justify;
      text-align-last: justify;
      color: black;
      padding-right: 0.714286rem;
      border-right: 1px solid #e7e7e7;
    }

    .van-cell__value {
      padding: 0;
    }
  }

  .field_handle {
    input {
      text-align: left;
    }
  }

  .el-card__body {
    padding: 0;
  }

  .van-cell {
    border-bottom: 1px solid #e7e7e7;
    line-height: normal;
  }

  .leftINPUT {
    border-bottom: 1px solid #27ae60 !important;
    line-height: normal;
    padding: .714286rem 0;

    input {
      text-align: left;
      color: #27ae60;
      font-size: 2rem;
    }

  }


  .btns {
    .van-button {
      width: 100%;
      background-color: #EC6F35;
      color: #fff;
      border-radius: .357143rem;
      overflow: hidden;
    }
  }
}


#Newtask {
  textarea {
    text-align: left;
  }
}

#addMaterial {
  .van-cell {
    padding-left: 0;
    padding-right: 1rem;

    .van-cell__title {
      width: 5.357143rem;
      text-align: justify;
      text-align-last: justify;
      color: black;
      padding-right: 0.714286rem;
      border-right: 1px solid #e7e7e7;
    }
  }
}

#LargeScreen {
  .search_box {
    .el-input--small .el-input__inner {
      background-color: #fff;
    }

    .el-input__inner {
      border: none;
    }

    .search_left {
      border-right: 1px solid #dfdfdf;
    }
  }
}


#createContract,
#OEM,
#addbill,
#outsource,
#Ship,
#returnedPurchase,
#addNewProductlist,
#editShipItem,
#Receivable,
#addressList {
  .el-card__body {
    padding: 0 !important;
  }

  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100% !important;
  }
}

.wrapper-qrCode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}

#because {
  input {
    border: none;
    background-color: #fff;
  }
}

#Ship,
#editShipItem,
#createContract {

  .van-cell,
  .el-row {
    padding: 1rem 1.142857rem;
  }

}

#createGoodpage {
  .el-card__body {
    padding: .357143rem;
  }
}




#createContract,
#addressEdit,
#Ship,
#returnedPurchase,
#addbill,
#outsource,
#OEM,
#addNewProductlist {

  input,
  textarea {
    text-align: right !important;
    font-size: 1rem !important;
    padding: 0 1.071429rem !important;
    color: #2d3436 !important;
  }

  .el-input__icon {
    display: none;
  }

  .van-address-list {
    padding: .857143rem .857143rem 4.285714rem;
  }

  .van-address-item__tag,
  .van-icon-success,
  .van-address-list__add,
  .van-button--round {

    border-color: rgb(66, 147, 200);
    background-color: rgb(66, 147, 200);
  }

  .van-button--round {
    color: #fff;
  }
}

.cardbtns {
  .el-tabs__nav-scroll {
    display: flex;
    justify-content: center;
  }

  .el-card__body {
    padding: .714286rem 1.428571rem;
  }

  .el-tag--small {
    height: 1.142857rem;
    padding: 0 .571429rem;
    line-height: .857143rem;
  }

  .el-tag--warning {
    color: #F0AD4E !important;
  }
}


#addressEdit {
  .van-button--round {
    color: #fff;
    border-color: rgb(66, 147, 200);
    background-color: rgb(66, 147, 200);
  }

  .van-address-list__bottom {
    bottom: 1.428571rem;
  }
}

#Outsourcing,
#purchase {
  .el-card__body {
    padding: 0.571429rem 1rem;
    height: 5.642857rem;
  }
}

#contract,
#aside,
#StorageCompany,
#turnover {
  .van-swipe-cell__right {
    display: flex;
    flex-direction: column;
  }

  .el-tag {
    height: 1rem;
    font-size: 0.642857rem;
    padding: 0 .214286rem;
    line-height: .785714rem;
    border-radius: 0.214286rem;
    margin-right: 0.214286rem;
  }
}

#contract,
#aside,
#staffEntry,
#listShop,
#keepmoneypage,
#clientedit,
#clientDetails,
#ContractDelivery,
#IncomingDelivery,
#TotalShipment,
#materialpage,
#addMaterial,
#bompage,
#LargeScreen,
#ScreenItem,
#ShipmentItem,
#cardbox,
#engravDetail,
#completions,
#Reimbursement {
  .el-card__body {
    padding: 0.571429rem;
  }
}


.van-tag--primary.van-tag--plain {
  color: #4293c8 !important;
}

#selfConcordat,
#Outsourcing,
#purchase {
  .el-progress-bar__outer {
    border-radius: 3px;

    .el-progress-bar__inner {
      border-radius: 3px;
    }
  }
}

#deal,
#Client,
#manboard,
#LargeScreen {
  .van-tabs__line {
    background-color: rgb(66, 147, 200);
  }
}



.el-upload--picture-card {
  width: 6.428571rem !important;
  height: 6.428571rem !important;
  line-height: 6.428571rem !important;
}

.el-upload-list__item {
  width: 6.428571rem !important;
  height: 6.428571rem !important;
}

#ReimburDetails {
  .el-card__body {
    padding: .357143rem .714286rem !important;
  }


}

#newAccount,
#addDetails {
  input {
    background-color: #fff;
  }
}

#manboard {
  .el-card__body {
    padding: 0.428571rem 0 !important;
  }
}

#selfConcordat,
#StorageCompany {
  .el-card__body {
    padding: 0px !important;
  }
}

#turnover .topcard,
#Reimbursement .topcard {
  .el-card__body {
    padding: 0px !important;
  }
}

#Reimbursement {
  .el-tabs__nav-scroll {
    display: flex;
    justify-content: center;
  }

  .el-tabs__item {
    padding: 0 .714286rem;
    height: 2.857143rem;
    line-height: 2.857143rem;
    font-size: 1rem;
  }

  .van-button {
    height: 100%;

    .van-button__text {
      margin: 0 auto;
      width: 1.428571rem;
      line-height: 1.714286rem;
    }
  }



  .el-tabs__header {
    padding: 0 !important;
  }




}

#turnover {
  .el-card__body {
    padding: 0 !important;

  }
}

.my_header {
  height: 5.428571rem;
  padding-top: 1.571429rem;
  overflow: hidden;
  box-shadow: 0 0 15px 3px rgba(42, 136, 255, 0.28);
  border: 4px solid rgba(42, 136, 255, 0.19);
}

.my_package {
  padding: 0.357143rem 1rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_content {
  width: 95%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.714286rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.my_page_header {
  display: flex;
  align-items: center;
  padding: 0 0.714286rem;
  padding-top: 1.142857rem;

  .el-page-header__left {
    .el-icon-back {
      font-size: 24px;
    }

    .el-page-header__title {
      font-size: 16px;
    }
  }

  .el-page-header__content {
    color: white;
    font-weight: 700;
  }
}

//bg text color

$color: ('primary': rgb(66, 147, 200),
  'black': black,
  'white': white,
  'gray1': #fafafa,
  'gray2': rgba(26, 26, 26, 0.5),
);

@each $key,
$value in $color {
  .text-#{$key} {
    color: $value;
  }

  .bg-#{$key} {
    background-color: $value;
  }
}

// text layout

@each $val in (left, center, right) {
  .text-#{$val} {
    text-align: $val;
  }
}

// flex

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

// jc-center

$flex-jc: ('start': flex-start,
  'end': flex-end,
  'center': center,
  between: space-between,
  around: space-around,
);

@each $jcKey,
$jcVal in $flex-jc {

  // jc-center
  .jc-#{$jcKey} {
    justify-content: $jcVal;
  }
}

// ai-center

$flex-ai: ('start': flex-start,
  'end': flex-end,
  'center': center,
);

@each $aiKey,
$aiVal in $flex-ai {
  .ai-#{$aiKey} {
    align-items: $aiVal;
  }
}

// text size

$text-size-base: 1rem;

$text-size: (xs: 0.857143,
  sm: 1,
  md: 1.142857,
  lg: 1.428571,
);

@each $key,
$val in $text-size {
  .text-#{$key} {
    font-size: $val * $text-size-base;
  }
}

// margin padding mt  mx m

$spacing-types: (m: margin,
  p: padding,
);
$spacing-directions: (t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-sizes: (0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);
$spacing-size-base: 1rem;

@each $typeKey,
$typeVal in $spacing-types {

  @each $directionKey,
  $directionVal in $spacing-directions {

    @each $sizeKey,
    $sizeVal in $spacing-sizes {
      .#{typeKey}#{directionKey}-#{sizeKey} {
        #{$typeVal}-#{$directionVal}: $sizeVal * $spacing-size-base;
      }
    }
  }

  @each $sizeKey,
  $sizeVal in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$typeVal}-left: $sizeVal * $spacing-size-base;
      #{$typeVal}-right: $sizeVal * $spacing-size-base;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$typeVal}-top: $sizeVal * $spacing-size-base;
      #{$typeVal}-bottom: $sizeVal * $spacing-size-base;
    }

    .#{$typeKey}-#{$sizeKey} {
      #{$typeVal}: $sizeVal * $spacing-size-base;
    }
  }
}

$text-weight: (1: 100,
  2: 200,
  3: 300,
  4: 400,
  5: 500,
  6: 600,
  7: 700,
  8: 800,
  9: 900,
);

@each $key,
$val in $text-weight {
  .text-weight-#{$key} {
    font-weight: $val;
  }
}

// position

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

$pos-sizes: (0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);
$pos-size-base: 1rem;

@each $directionVal in (left, top, bottom, right) {

  @each $sizeKey,
  $sizeVal in $pos-sizes {
    .#{$directionVal}-#{$sizeKey} {
      #{$directionVal}: $sizeVal * $pos-size-base;
    }
  }
}